<phpunit>
  <logging>
    <log type="coverage-html" target="coverage" charset="UTF-8"
         yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
  </logging>

  <filter>
    <whitelist>
      <directory suffix=".php">../includes</directory>
    </whitelist>
  </filter>

</phpunit>
