<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Webolution</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }

            {{ styles }}
        </style>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p><a href="/">Home</a></p>
        {{ output|raw }}
    </body>
</html>
