<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Webolution</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Webolution</h1>
        <div>Evolver</div>

        <p><a href="/number_evolution">Number Evolution</a></p>
        <p><a href="/text_evolution">Text Evolution</a></p>
        <p><a href="/color_evolution">Color Evolution</a></p>
        <p><a href="/element_evolution">Element Evolution</a></p>
        <p><a href="/colour_evolution_interactive">Color Evolution Interactive</a></p>
    </body>
</html>
